.flex-start {
    background: #ffffff;
    padding: 40rpx;
    margin-top: 20rpx;
    border-radius: 12rpx;
    .flex-between-item:not(:last-child){
        margin-right: 58rpx;
    }
}
.echarts-bar{
    width: 100%;
    height: 320rpx;
}
.name text{
    padding-right: 10rpx;
  }
  .list-num{
    font-size: 24rpx;
    color: #9E9E9E;
    line-height: 94rpx;
    padding: 0 30rpx;
}
.tabname{
    color: #9E9E9E;
    font-size: 26rpx;
    line-height: 72rpx;
}
.card{
    padding: 50rpx 30rpx 20rpx;
}
.card:not(:last-child){
    margin-bottom: 20rpx;
}